body{
  margin: 0;
  background-color: rgb(244, 244, 243);
}

.container{
  width: 60%;
  max-width: 90vw; 
  margin: auto; 
  text-align: center;


}
.row{
  margin: auto;
  padding-bottom: 18px;
}
.card{
  width: 14vw;
}
.card img{
  width: 150px;
  align-items: center;

}
.card-footer{
  background-color: white;
}
svg{
  width: 30px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;


}


#reviewShow {
  display: none;
}
#answerShow {
  display: none;
}

svg :hover {
  cursor: pointer;
}