.container{
    margin-left: auto;
    margin-right: auto;
}
.card{
    background-color: azure;
    justify-content: center;
}
.card-body{
    display: inline-block;
    justify-self: flex-end;
}
#product-images img{
    display:-moz-inline-grid;
}
.col-md-6{
    justify-items:flex-end;

}

#reviewShow {
    display: none;
  }
  #answerShow {
    display: none;
  }
  svg{
    width: 30px;
  }
  svg :hover {
    cursor: pointer;
  }
form.hide-submit input[type="submit"] { display: none;}