body{
  margin: 0;
}

.container{
  width: 900px;
  max-width: 90vw; 
  margin: auto; 
  text-align: center;

}
svg{
  width: 30px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;


}
header .icon-cart{
  position: relative;
}
header .icon-cart span{
  display: flex;
  width: 30px;
  height: 30px;
  background-color: red;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -20px;
}
/*----------------------CART ------------- */

#reviewShow {
  display: none;
}
#answerShow {
  display: none;
}

svg :hover {
  cursor: pointer;
}