<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"> </script>

</head>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item">
          <form action="/users">
            <a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">users</a>
          </form>

        </li>
      </ul>
    </div>
  </div>
</nav>




<div>
    <form action="/logout">
        <button type="submit" name="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
  
<div>
    <form action="/users">
        <button type="submit" name="submit" class="btn btn-danger" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">select</button>
    </form>
</div>
<div>
    <form action="/users">
        <button type="submit" name="submit" class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">select2</button>
    </form>
</div>




    
<div class="collapse" id="collapseExample">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">customer_id</th>
            <th scope="col">first_name</th>
            <th scope="col">last_name</th>
            <th scope="col">date_of_birth</th>
            <th scope="col">date_of_last_purchase</th>
            </tr>
        </thead>
        {% for user in userDetails %}
        <tr>
            <td>{{user['customer_id']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['first_name']}}</td>
            <td>{{user['last_name']}}</td>
            <td>{{user['date_of_birth']}}</td>
            <td>{{user['date_of_last_purchase']}}</td>
        </tr>
        {% endfor %}
    </table>
</div>