<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webshop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"> </script>

</head>



<div id="nav-placeholder">
  {% include 'nav.html' %}
  <div class="container-fluid p-5  text-white text-center" style="background-color: rgb(15, 25, 103);">
    <h1>GearUp</h1>
    <p>Gear up before the tenta hits you!</p>
  </div>

</div>

<body>


  <div class="container">
    <header>
    <div class="title"><h1>Product List</h1></div>
  </header>
    <div class="row">
      
      {% for product in productTest %}
      <div id="productDisplay" class=" col-md-2 mt-6">
        <div class="card">
          <img src="{{ url_for('static', filename=product['image_address1']) }}" alt="{{product['product_name']}}">

            <div class="card-body">
              <h5 class="text-center">{{product['product_name']}}</h5>
              <p class="text-center">Price ${{product['product_price']}}</p>
              <p id="test" class="text-center small" >in stock {{product['product_available_amount']}}</p>
            </div>
            <div class="card-footer">
              <div class="col-sm3">
                <div class="View-product">
                  <form action="/view-product" method="get">
                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                    <input type="submit" value="View product" class="btn btn-primary w-100">
                  </form>
                </div>
                <div class="Add-to-cart">
                  <form action="/add-to-cart" method="post">
                    <input type="hidden" name="product_id" value="{{ product['product_id'] }}">
                    <input type="text" class="product_quantity" name="quantity" value="1" size="2">
                    <input type="submit" value="Add to cart" class="btn btn-warning">
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  <div class="products" id="productstable">
    <h1>Shopping Cart</h1>
    <div class="table-responsive">
      <table class="table">

          <thead>
              <tr>
              <th scope="col"></th>
              <th scope="col">Product name</th>
              <th scope="col">Unit price</th>
              <th scope="col">Amount</th>
              <th scope="col">Total price</th>
              <th scope="col">
                <form action="/clear-cart" method="post">
                    <input type="hidden" name="product_id" value="{{cartItems['product_id']}}">
                    <button id='submit' class='btn btn-danger'>Clear cart
                </form>
              </th>
              </tr>
          </thead>
          {% for product in cartItems %}
          <tr>
            {% for pic in productTest if pic["product_id"] == product["product_id"]%}
            <td><img src="{{ url_for('static', filename=pic['image_address1']) }}" alt="{{pic['product_name']}}"></td>
            {% endfor %}
            <td>{{product['product_name']}}</td>
            <td>{{product['price']}}</td>
            <td>{{product['quantity']}}</td>
            <td>{{product['TotalPrice']}}</td>
            <form action="/remove-item-from-cart" method="post">
                <input type="hidden" name="product_id" value="{{product['product_id']}}">
                <td><button id='submit' class='btn btn-danger'>Remove item </td>
            </form>
          </tr>
          {% endfor %}
          <div class="total-price">
            <p>Total Price: {{totalUnitPrice }} </p>
        </div>
      </table>
      <div class="checkout-button">
      <form action="/checkout">
        <button  type="submit" name="users" class="btn btn-danger ">Check out</button>
      </form>
      </div>
    </div>
  </div>
  

  <!-- <div class="cartTab">

    {% for product in cartItems %}
    <div class="listCart">
      <h5 class="text-center">{{product['product_name']}}</h5>
      <p class="text-center">Price ${{product['product_price']}}</p>
    </div>
    {% endfor %}
    <div class="btn">
        <a href="shopping_cart.html" class="btn btn-success">View cart</a>
        <button onclick="clearCart()" class="checkOut">Check Out</button>
    </div>
</div> -->


  <div id="logout">
  <form action="/logout">
      <button type="submit" name="submit" class="btn btn-danger">Logout</button>
  </form>
  </div>

  {{ var }}

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>