<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
    <form action="/">
      <a class="navbar-brand" href="index.html">Home</a>
    </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <form action="/login">
              <a class="nav-link" href="login">Login</a>
            </form>
          </li>
          <li class="nav-item">
            <form action="/l">
              <a class="nav-link" href="l">Register</a>
            </form>
          </li>
  
        </ul>   
      </div>
    </div>
  </nav>